<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
    <macros>
        <cluster>{{ clickhouse_display_name | default('mycluster') }}</cluster>
{% for shard_name, replicas in clickhouse_cluster.items() | list %}    
        <shard>{{ shard_name }}</shard>
{% endfor %}
        <replica>{{ inventory_hostname }}</replica>
    </macros>
</yandex>
