<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
  <remote_servers>
    <{{ clickhouse_display_name }}>
{% for shard in clickhouse_shard_list %}
      <shard>
        <internal_replication>true</internal_replication>
{% for replica in clickhouse_replica_list %}
{% if shard in hostvars[replica].ansible_hostname  %}
        <replica>
          <host>{{ replica }}</host>
          <port>{{ clickhouse_tcp_port }}</port>
        </replica>
{% endif %}
{% endfor %}
      </shard>
{% endfor %}
    </{{ clickhouse_display_name }}>
  </remote_servers>
</yandex>