<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
  <remote_servers>
    <{{ clickhouse_display_name }}>
      <shard>
        <internal_replication>true</internal_replication>
{% for replica in groups['clickhouse'] %}
        <replica>
          <host>{{ replica }}</host>
          <port>{{ clickhouse_tcp_port }}</port>
        </replica>
{% endfor %}
      </shard>
    </{{ clickhouse_display_name }}>
  </remote_servers>
</yandex>