<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
  <remote_servers>
    <{{ clickhouse_display_name }}>
{% for shard_name, replicas in clickhouse_cluster.items() | list %}
      <shard>
        <internal_replication>true</internal_replication>
{% for replica in replicas %}
        <replica>
          <host>{{ replica['host'] }}</host>
          <port>{{ replica['port'] }}</port>
        </replica>
{% endfor %}
      </shard>
{% endfor %}
    </{{ clickhouse_display_name }}>
  </remote_servers>
</yandex>