<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
  <users>
{% for user in clickhouse_users_list %}
    <{{ user.user_name }}>
      <profile>{{ user.profile }}</profile>
      <networks>
{% for network in user.networks %}
        <ip>{{ network }}</ip>
{% endfor %}
      </networks>
{% if user.password is defined %}
      <password_sha256_hex>{{ user.password | hash('sha256') }}</password_sha256_hex>
{% else %}
      <password></password>
{% endif %}
      <quota>{{ user.quota }}</quota>
    </{{ user.user_name }}>
{% endfor %}
  </users>
</yandex>