<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
  <zookeeper>
{% for host in clickhouse_zookeeper_list %}
    <node index="{{loop.index}}">
      <host>{{ host }}</host>
      <port>{{ clickhouse_zookeeper_port }}</port>
{% endfor %}
    </node>
  </zookeeper>
</yandex>